<!doctype html>
<html lang="es">
<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

<title>Alumnos</title>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<div class="container">

<a class="navbar-brand me-4" href="/">
Control Escolar
</a>

<div class="navbar-nav d-flex flex-row flex-wrap">

<a class="nav-link me-3" href="/asignaturas">
Asignaturas
</a>

<a class="nav-link me-3" href="/horarios">
Horarios
</a>

<a class="nav-link me-3" href="/intendencia">
Intendencia
</a>

<a class="nav-link me-3" href="/estados">
    Estados
</a>

<a class="nav-link me-3" href="/municipios">
Municipios
</a>

<a class="nav-link me-3" href="/localidades">
    Localidades
</a>

<a class="nav-link me-3" href="/generos">
    Géneros
</a>

<a class="nav-link me-3" href="/datospersonales">Datos Personales</a>

<a class="nav-link me-3" href="/tipopersonal">Tipo Personal</a>

<a class="nav-link me-3" href="/personal">

Personal

</a>

<a class="nav-link mb-3" href="/carreras">

Carreras

</a>

<a class="nav-link active" href="/alumnos">

Alumnos

</a>

<a class="nav-link me-3" href="/escuela">

Escuela

</a>

    </div>
</div>
</nav>

<div class="container mt-4">

<a href="/alumnos/create" class="btn btn-success mb-3">

Nuevo Alumno

</a>

<div class="table-responsive">
<table class="table table-bordered table-striped text-center">

<thead class="table-primary">

<tr>

<th>MATRICULA</th>
<th>IDCARRERA</th>
<th>NOMBRECARRERAS</th>
<th>ESTATUS</th>
<th>IDDATOSP</th>
<th>NOMBRE</th>
<th>FECHANACIMIENTO</th>
<th>CURP</th>
<th>EMAIL</th>
<th>TELEFONO</th>
<th>CALLE</th>
<th>NUME</th>
<th>NUMI</th>
<th>CP</th>
<th>STATUS</th>
<th>ACCIONES</th>

</tr>

</thead>

<tbody>

<% results.forEach((alumno)=>{ %>

<tr>

<td><%= alumno.matricula %></td>

<td><%= alumno.idCarrera %></td>

<td><%= alumno.nombreCarreras %></td>

<td><%= alumno.estatus == 1 ? 'Activa' : 'Inactiva' %></td>

<td><%= alumno.idDatosP %></td>

<td><%= alumno.nombre %></td>

<td>
<%= alumno.fechaNacimiento ? alumno.fechaNacimiento.toISOString().split('T')[0] : '' %>
</td>

<td><%= alumno.curp %></td>

<td><%= alumno.email %></td>

<td><%= alumno.telefono %></td>

<td><%= alumno.calle %></td>

<td><%= alumno.numE %></td>

<td><%= alumno.numI %></td>

<td><%= alumno.cp %></td>

<td><%= alumno.status %></td>

<td>

<a
href="/alumnos/edit/<%= alumno.matricula %>"
class="btn btn-warning btn-sm">

Editar

</a>
<% if(session.rol === 'Admin'){ %>
<a
href="/alumnos/delete/<%= alumno.matricula %>"
class="btn btn-danger btn-sm">

Eliminar

</a>
<% } %>
</td>

</tr>

<% }) %>

</tbody>

</table>
</div>
</div>

</body>
</html>