<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
rel="stylesheet">

<title>Intendencia</title>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

<div class="container">

<a class="navbar-brand me-4" href="/">
Control Escolar
</a>

<div class="navbar-nav d-flex flex-row flex-wrap">

<a class="nav-link me-3" href="/asignaturas">
Asignaturas
</a>

<a class="nav-link me-3" href="/horarios">
Horarios
</a>

<a class="nav-link active" href="/intendencia">
Intendencia
</a>

<a class="nav-link me-3" href="/estados">
    Estados
</a>

<a class="nav-link me-3" href="/municipios">
Municipios
</a>

<a class="nav-link me-3" href="/localidades">
    Localidades
</a>

<a class="nav-link me-3" href="/generos">
    Géneros
</a>

<a class="nav-link me-3" href="/datospersonales">Datos Personales</a>

<a class="nav-link me-3" href="/tipopersonal">Tipo Personal</a>

<a class="nav-link me-3" href="/personal">

Personal

</a>

<a class="nav-link mb-3" href="/carreras">

Carreras

</a>

<a class="nav-link me-3" href="/alumnos">

Alumnos

</a>

<a class="nav-link me-3" href="/escuela">

Escuela

</a>

</div>

</div>

</nav>


<div class="container mt-4">

<a
href="/intendencia/create"
class="btn btn-success mb-3">
Nuevo Empleado
</a>

<div class="table-responsive">
<table class="table table-bordered table-striped text-center">

<thead class="table-primary">

<tr>

<th>ID</th>
<th>Nombre</th>
<th>Teléfono</th>
<th>Área</th>
<th>Turno</th>
<th>Acciones</th>

</tr>

</thead>

<tbody>

<% results.forEach((empleado)=>{ %>

<tr>

<td><%= empleado.idEmpleado %></td>

<td><%= empleado.nombre %></td>

<td><%= empleado.telefono %></td>

<td><%= empleado.area %></td>

<td><%= empleado.turno %></td>

<td>

<a
href="/intendencia/edit/<%= empleado.idEmpleado %>"
class="btn btn-warning">
Editar
</a>

<a
href="/intendencia/delete/<%= empleado.idEmpleado %>"
class="btn btn-danger">
Eliminar
</a>

</td>

</tr>

<% }) %>

</tbody>

</table>

</div>
</div>
</body>
</html>