<!doctype html>
<html lang="es">
<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
rel="stylesheet">

<title>Localidades</title>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

<div class="container">

<a class="navbar-brand me-4" href="/">
Control Escolar
</a>

<div class="navbar-nav d-flex flex-row flex-wrap">

<a class="nav-link me-3" href="/asignaturas">Asignaturas</a>

<a class="nav-link me-3" href="/horarios">Horarios</a>

<a class="nav-link me-3" href="/intendencia">Intendencia</a>

<a class="nav-link me-3" href="/estados">Estados</a>

<a class="nav-link me-3" href="/municipios">Municipios</a>

<a class="nav-link active" href="/localidades">Localidades</a>

<a class="nav-link me-3" href="/generos">
    Géneros
</a>

<a class="nav-link me-3" href="/datospersonales">Datos Personales</a>

<a class="nav-link me-3" href="/tipopersonal">Tipo Personal</a>

<a class="nav-link me-3" href="/personal">

Personal

</a>

<a class="nav-link mb-3" href="/carreras">

Carreras

</a>

<a class="nav-link me-3" href="/alumnos">

Alumnos

</a>

<a class="nav-link me-3" href="/escuela">

Escuela

</a>

</div>

</div>

</nav>


<div class="container mt-4">

<a
href="/localidades/create"
class="btn btn-success mb-3">

Nueva Localidad

</a>

<div class="table-responsive">
<table class="table table-bordered table-striped text-center">

<thead class="table-primary">

<tr>

<th>ID</th>

<th>Localidad</th>

<th>Municipio</th>

<th>Acciones</th>

</tr>

</thead>

<tbody>

<% results.forEach((localidad)=>{ %>

<tr>

<td><%= localidad.idLocalidad %></td>

<td><%= localidad.nombre %></td>

<td><%= localidad.municipio %></td>

<td>

<a
href="/localidades/edit/<%= localidad.idLocalidad %>"
class="btn btn-warning">

Editar

</a>
<% if(rol === 'Admin'){ %>
<a
href="/localidades/delete/<%= localidad.idLocalidad %>"
class="btn btn-danger">

Eliminar

</a>
<% } %>
</td>

</tr>

<% }) %>

</tbody>

</table>

</div>
</div>
</body>
</html>